.EventItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1000%;
    border: 1px solid grey;
    flex-grow: 1;
}

button {
    background: #361C6A;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    max-height: 15%;
    width: 100%;
}

p {
    font-size: 0.9rem;
}

img {
    height: 40%;
    width: 100%;
}